@{
    ViewData["Title"] = "Dispatch Page ";
}
@model List<ShippingOrders>

<head>
    <link rel="stylesheet" href="~/css/ShippingOrders.css" />
</head>

<form method="post" action="/Home/DispatchSubmit">
    <table>
        <tr>
            <input type="hidden" name="ShippingOrder.Id" value="@Model[0].Id" />
            <input type="hidden" name="ShippingOrder.ContainerCargoId" value="@Model[0].ContainerCargoId" />
            <input type="hidden" name="ShippingOrder.state" value="@Model[0].state" />
            <input type="hidden" name="ShippingOrder.ContainerCargo" value="@Model[0].ContainerCargo" />


            <th>发站:</th>
            <th>@Model[0].ContainerCargo?.Start</th>
            <th>到站:</th>
            <th>@Model[0].ContainerCargo?.End</th>
            <th>汽车类型:</th>
            <td><input type="text" name="ShippingOrder.CarType" value="@Model[0].CarType" /></td>
            <th>车牌号:</th>
            <td><input type="text" name="ShippingOrder.CarNumber" value="@Model[0].CarNumber" />
        </tr>

        <tr>
            <th>发货地点:</th>
            <th>@Model[0].ContainerCargo?.StartCity</th>
            <th>收货地点:</th>
            <th>@Model[0].ContainerCargo?.EndCity</th>
        </tr>

        <tr>
            <th>托运人名称:</th>
            <th>@Model[0].ContainerCargo?.ShippersName</th>
            <th>电话:</th>
            <th>@Model[0].ContainerCargo?.ShipperPhone</th>
            <th>地址:</th>
            <th>@Model[0].ContainerCargo?.ShipperAddress</th>
            <th>邮箱:</th>
            <th>@Model[0].ContainerCargo?.ShipperEmail</th>
        </tr>

        <tr>
            <th>收货人名称:</th>
            <th>@Model[0].ContainerCargo?.ConsigneeName</th>
            <th>电话:</th>
            <th>@Model[0].ContainerCargo?.ConsigneePhone</th>
            <th>地址:</th>
            <th>@Model[0].ContainerCargo?.ConsigneeAddress</th>
            <th>邮箱:</th>
            <th>@Model[0].ContainerCargo?.ConsigneeEmail</th>
        </tr>

        <tr>
            <th>送货人:</th>
            <td><input type="text" name="ShippingOrder.DeliveryPerson" value="@Model[0].DeliveryPerson" /></td>

            <th>送货人电话号码:</th>
            <td><input type="text" name="ShippingOrder.DeliveryPhone" value="@Model[0].DeliveryPhone" /></td>

            <th>送货日期:</th>
            <td><input type="date" name="ShippingOrder.DeliveryDate" value="@Model[0].DeliveryDate.ToString("yyyy-MM-dd")" /></td>
        </tr>
    </table>
    <input type="submit" value="保存修改" />
</form>

<div>
    @if (ViewBag.PageNumber > 1)
    {
        <a href="@Url.Action("Dispatch", new { page = ViewBag.PageNumber - 1 })">上一页</a>
    }
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        <a href="@Url.Action("Dispatch", new { page = i })">@i</a>
    }
    @if (ViewBag.PageNumber < ViewBag.PageCount)
    {
        <a href="@Url.Action("Dispatch", new { page = ViewBag.PageNumber + 1 })">下一页</a>
    }
</div>


