@{
    ViewData["Title"] = "MyOrders Page ";
}

@model List<ShippingOrders>

<head>
    <link rel="stylesheet" href="~/css/MyOrders.css" />
</head>

@if (Model.Count == 0)
{
    <p>未查找到未完成的订单</p>
}
else
{
    <form method="post" action="/Home/OrderSumbit">
        <table>
            <tr>
                <th>业务单号:</th>
                <th>@Model[0].ContainerCargoId</th>
            </tr>
            <tr>
                <input type="hidden" name="ShippingOrder.Id" value="@Model[0].Id" />
                
                <th>发站:</th>
                <th>@Model[0].ContainerCargo?.Start</th>
                <th>到站:</th>
                <th>@Model[0].ContainerCargo?.End</th>

                <th>汽车类型:</th>
                <th>@Model[0].CarType</th>

                <th>车牌号:</th>
                <th>@Model[0].CarNumber</th>
            </tr>

            <tr>
                <th>发货地点:</th>
                <th>@Model[0].ContainerCargo?.StartCity</th>
                <th>收货地点:</th>
                <th>@Model[0].ContainerCargo?.EndCity</th>
            </tr>

            <tr>
                <th>托运人名称:</th>
                <th>@Model[0].ContainerCargo?.ShippersName</th>
                <th>电话:</th>
                <th>@Model[0].ContainerCargo?.ShipperPhone</th>
                <th>地址:</th>
                <th>@Model[0].ContainerCargo?.ShipperAddress</th>
                <th>邮箱:</th>
                <th>@Model[0].ContainerCargo?.ShipperEmail</th>
            </tr>

            <tr>
                <th>收货人名称:</th>
                <th>@Model[0].ContainerCargo?.ConsigneeName</th>
                <th>电话:</th>
                <th>@Model[0].ContainerCargo?.ConsigneePhone</th>
                <th>地址:</th>
                <th>@Model[0].ContainerCargo?.ConsigneeAddress</th>
                <th>邮箱:</th>
                <th>@Model[0].ContainerCargo?.ConsigneeEmail</th>
            </tr>

            <tr>
                <th>送货人:</th>
                <th>@Model[0].DeliveryPerson</th>

                <th>送货人电话号码:</th>
                <th>@Model[0].DeliveryPhone</th>

                <th>货物名称:</th>
                <th>@Model[0].ContainerCargo?.ShipmentName</th>

                <th>送货日期:</th>
                <th>@Model[0].DeliveryDate.ToString("yyyy-MM-dd")</th>
            </tr>
        </table>
        <input type="submit" value="完成订单" />
    </form>

    <div>
        @if (ViewBag.PageNumber > 1)
        {
            <a href="@Url.Action("MyOrders", new { page = ViewBag.PageNumber - 1 })">上一页</a>
        }
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i == ViewBag.PageNumber)
            {
                <a class="active" href="@Url.Action("MyOrders", new { page = i })">@i</a>
            }
            else
            {
                <a href="@Url.Action("MyOrders", new { page = i })">@i</a>
            }
        }
        @if (ViewBag.PageNumber < ViewBag.PageCount)
        {
            <a href="@Url.Action("MyOrders", new { page = ViewBag.PageNumber + 1 })">下一页</a>
        }

    </div>
}


